 
<div fxLayoutAlign="center center" fxFlexFill class="main-div">


    <mat-card  fxFlex="25"  style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <!-- <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
              </button> -->
    <mat-toolbar color="primary" style="justify-content:center; ">Slot Availablity</mat-toolbar>
    <br><br>
     
    <div class="example-button-row" style="padding: 10px;">
      
        <button id="slot" mat-raised-button [disabled]="this.s1 === 0" (click)="raise()" [ngStyle]="{ 'background-color': (value ? 'red' : 'green') ,'color': 'white'}">Slot-1 | AVBL - {{this.s1}}<br>Timing: 8AM-10AM</button>
        <br>
        <button id="slot" mat-raised-button [disabled]="this.s2 === 0" (click)="raise2()" [ngStyle]="{ 'background-color': (value ? 'red' : 'green') ,'color': 'white'}">Slot-2 | AVBL - {{this.s2}}<br>Timing: 10AM-12PM</button>
        <br>
        <button id="slot" mat-raised-button [disabled]="this.s3 === 0" (click)="raise3()" [ngStyle]="{ 'background-color': (value ? 'red' : 'green') ,'color': 'white'}">Slot-3 | AVBL - {{this.s3}}<br>Timing: 4PM-6PM</button>
        <br>
        <button id="slot" mat-raised-button [disabled]="this.s4 === 0" (click)="raise4()" [ngStyle]="{ 'background-color': (value ? 'red' : 'green') ,'color': 'white'}">Slot-4 | AVBL - {{this.s4}}<br>Timing: 7PM-9PM</button>
      
      </div>
      <br><br>
        
        <div class="button">
                <button mat-raised-button color="warn" (click)="Back()"><- BACK</button>
                <!-- <button mat-raised-button color="primary" type="submit" (click)="OnSubmit()">SUBMIT</button> -->
        </div>
    
        <br>
        </mat-card>
    
    </div>