table {
    width: 60%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 20%;
  }

  .iconm {
    width: 1em;
    height: 0.8em;
    font-size: 18px;
}
  
  /* td, th {
    width: 20%;
  } */

  .chip{
    background-color: red;
  }

  .check:hover{
    size: 1cm;
  }