table {
    width: 60%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  /* td, th {
    width: 20%;
  } */

  .chip{
    background-color: red;
  }

  .check:hover{
    size: 1cm;
  }