<div class="appointment" fxLayoutAlign="center center">
    <mat-card fxFlex="85" >
    <mat-card-header>
    <mat-card-title>Patient's Profile</mat-card-title>
    <button class="ap" mat-raised-button color="primary" (click)="openForm()">Add Patient</button>
    <!-- <mat-card-subtitle>Date : {{myDate | date:'yyyy-MM-dd'}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
            <mat-form-field>
                <mat-label>QuickSearch</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Chris" #input>
              </mat-form-field>
              
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
  
                  <ng-container matColumnDef="S.No">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>S. No</th>
                    <td mat-cell *matCellDef="let i=index"> {{i + 1}} </td>
                  </ng-container>
              
                 
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient ID</th>
                    <td mat-cell *matCellDef="let patient"> {{patient.id}} </td>
                  </ng-container>
              
                 
                  <ng-container matColumnDef="pname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient Name</th>
                    <td mat-cell *matCellDef="let patient"> {{patient.pname}} </td>
                  </ng-container>
              
                 
                  <ng-container matColumnDef="page">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
                    <td mat-cell *matCellDef="let patient"> {{patient.page}} </td>
                  </ng-container>
              
                 
                  <ng-container matColumnDef="pcontact">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
                    <td mat-cell *matCellDef="let patient"> {{patient.pcontact}} </td>
                  </ng-container>

                  <ng-container matColumnDef="paddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                    <td mat-cell *matCellDef="let patient"> {{patient.paddress}} </td>
                  </ng-container>

                  <ng-container matColumnDef="pweight">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
                    <td mat-cell *matCellDef="let patient"> {{patient.pweight}} </td>
                  </ng-container>

                  <ng-container matColumnDef="pheight">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Height</th>
                    <td mat-cell *matCellDef="let patient"> {{patient.pheight}} </td>
                  </ng-container>

                  <ng-container matColumnDef="pbp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Blood Pressure</th>
                    <td mat-cell *matCellDef="let patient"> {{patient.pbp}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell  *matHeaderCellDef > Actions </th>
                    <td mat-cell *matCellDef="let patient" >
                         <!-- <button mat-button [routerLink]="['/editpatform/',patient.id]">Edit</button> -->
                         <mat-icon color="primary"  [routerLink]="['/editpatform/',patient.id]">create</mat-icon>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let patient; columns: displayedColumns;"></tr>
              
                 
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
              </div>          
    
        </mat-card-content>
      </mat-card>
    
      </div>
