<!-- <div class="container">
    <h1>P Profile Update</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="contact">Contact:</label>
            <input formControlName="contact"
            id="contact"
            type="text" [(ngModel)]="Newdoctor.contact"
            class="form-control">
        </div>

        <div class="form-group">
            <label for="qualification">Qualification:</label>
            <input formControlName="qualification"
            id="qualification"
            type="text" [(ngModel)]="Newdoctor.qualification"
            class="form-control">
        </div>

        
        <div class="form-group">
            <label for="mail">Mail:</label>
            <input formControlName="mail"
            id="mail"
            type="text" [(ngModel)]="Newdoctor.mail"
            class="form-control">
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>

    </form>
</div> -->


<div fxLayoutAlign="center center" fxFlexFill class="main-div">


    <mat-card  fxFlex="25"  style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <mat-toolbar color="primary" style="justify-content:center; ">Update Doctor Form</mat-toolbar>
<br><br>

    <form [formGroup]="form" (ngSubmit)="submit()" fxLayoutAlign="strecth" fxLayout="column"  class="appointment-form" > 
      
            <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
                <mat-label>Contact Number</mat-label>
                <input matInput name="contact" [(ngModel)]="Newdoctor.contact" formControlName="contact">
            </mat-form-field>
           <!-- <span style="color: red; font-size:small; font-style: italic; margin-left: 10px;" *ngIf="(myappForm.patient_id.touched || submitted) && myappForm.patient_id.errors?.['required']">
                *Patient ID is mandatory
            </span> -->
            <br>
        

            <mat-form-field appearance="outline" style="margin-bottom: -1.25em" >
                <mat-label>Mail</mat-label>
                <input matInput name="mail" [(ngModel)]="Newdoctor.mail" formControlName="mail">
            </mat-form-field>
            <!-- <span style="color: red; font-size:small; font-style: italic; margin-left: 10px;" *ngIf="(myappForm.visiting_doctor_id.touched || submitted) && myappForm.visiting_doctor_id.errors?.['required']">
         
                *Doctor ID is mandatory
            </span> -->
            <!-- <span style="color: red; font-size:small; font-style: italic; margin-left: 10px;" *ngIf="(myappForm.doctor_id.touched || submitted) && myappForm.doctor_id.errors?.['pattern']"> -->

            <br>



            <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
                <mat-label>Qualification</mat-label>
                <input matInput name="qualification" [(ngModel)]="Newdoctor.qualification" formControlName="qualification">
            </mat-form-field>
            <!-- <span style="color: red; font-size:small; font-style: italic; margin-left: 10px;" *ngIf="(myappForm.reason.touched || submitted) && myappForm.reason.errors?.['required']">
           
                *Reason is mandatory
            </span> -->
            <br>

        </form>

 
            <hr>
    
        <div class="button">
            <button mat-raised-button color="primary" type="submit"  (click)="submit()">Update</button>
            <button mat-raised-button color="warn"  (click)="cancel()">Cancel</button>
        </div>
       <br>
    </mat-card>

</div>