<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button type="button" mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>{{ selectedItem }}</h1>
        <span class="f-auto"></span>
        <button mat-raised-button color="accent" [ngStyle]="{'background-color':'#ffbb33','color':'black'}"
            (click)="openForm()">Book An Appointment</button>
        <a routerLink="" style="color: white;"><button mat-icon-button><mat-icon>logout</mat-icon></button></a>
    </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list style="width: 240px;">

            <a mat-list-item routerLink="dashboard"
                (click)="sidenav.toggle()"><mat-icon>dashboard</mat-icon>&nbsp;Dashboard</a>



            <a mat-list-item routerLink="Today-Appointment"
                (click)="sidenav.toggle()"><mat-icon>dns</mat-icon>&nbsp;<label>Today Appointments</label></a>



            <a mat-list-item routerLink="Req-Appointment"
                (click)="sidenav.toggle()"><mat-icon>dns</mat-icon>&nbsp;<label>Appointment-Requests</label></a>



            <a mat-list-item routerLink="App-Appointment"
                (click)="sidenav.toggle()"><mat-icon>dns</mat-icon>&nbsp;<label>Appointment-Approved</label></a>



            <a mat-list-item routerLink="Doctors"
                (click)="sidenav.toggle()"><mat-icon>person</mat-icon>&nbsp;<label>Doctors</label></a>



            <a mat-list-item routerLink="Patients"
                (click)="sidenav.toggle()"><mat-icon>person</mat-icon>&nbsp;<label>Patients</label></a>


            <a mat-list-item routerLink="BookingForm"><mat-icon>person</mat-icon>&nbsp;<label>Profile</label></a>

        </mat-nav-list> -->
        
            <mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list style="width: 240px;">
	<mat-list-item *ngFor="let item of listItems" (click)="handleClick(item)">
		<a [routerLink]="item.link"   (click)="sidenav.toggle()" routerLinkActive="active">{{item.linkTitle}}</a>
	</mat-list-item>
</mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 85vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>