    
<mat-card class="example-card" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" (click)="openDialog()">
    <mat-card-header>
      <mat-card-title><mat-icon>today</mat-icon>Today's Appointment</mat-card-title>
      <br>
      <mat-card-subtitle style="color: whitesmoke;">Date : {{myDate | date:'yyyy-MM-dd'}}</mat-card-subtitle>
    </mat-card-header>
<mat-card-content>

</mat-card-content>
  </mat-card>


  <mat-card class="example-card" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" >
    <mat-card-header>
      <mat-card-title><mat-icon>note_add</mat-icon>Upcoming Appointment</mat-card-title>
      <mat-card-subtitle>Start</mat-card-subtitle>
    </mat-card-header>
<mat-card-content>
    
</mat-card-content>
  </mat-card>


  <mat-card class="example-card" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" >
    <mat-card-header>
      <mat-card-title><mat-icon>assignment_turned_in</mat-icon>Raise Prescription</mat-card-title>
      <mat-card-subtitle>Start</mat-card-subtitle>
    </mat-card-header>
<mat-card-content>
    
</mat-card-content>
  </mat-card>
