.example-button-row {
    /* display: table-cell;
    padding: 1cm;
    align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  .example-button-row :hover{
    /* display: table-cell;
    padding: 1cm;
    align-items: center; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    transform: scale(1.0);

  }

  .close-button{
    float: right;
    
  }

.main-div{
    padding: 0px;
   
}

.appointment-form{
    padding: 20px;
    
}

.my-app-form-field .mat-app-form-field-wrapper {
    margin-bottom: -1.25%;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

  .mat-mdc-dialog-container .mdc-dialog__surface{
    box-shadow: none !important;
    background-color: transparent  !important;
}

#slot[disabled]
{
 background-color: red !important;
}

.pay{
    width: 100% !important;
    height: 100% !important;
    background-color: #90EE90 !important;
    padding:10px !important;
}

.later{
    padding:20px !important;
    background-color: #f8ff99 !important;
    margin-top: 2rem;
}



